body {
    font-family: sans-serif;
    margin: 0;
    line-height: 1.6;
    background-color: #FFD700; /* Желтый фон */
    color: #000; /* Черный текст */
  }
  
  header {
    background-color: #000; /* Черный заголовок */
    color: #FFD700; /* Желтый текст */
    padding: 20px 0;
    text-align: center;
  }
  .nav-links{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  .nav-links li a{
    color: #FFD700;
    font-size: 20px;
    font-weight: bold;
  }
  
  main {
    padding: 20px;
  }
  
  article {
    margin-bottom: 30px;
    background-color: #fff; /* Белый фон для статей */
    padding: 20px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  .img_news{
    border-radius:50px;
  }
  .button{
    background-color:#FFD700;
    border-radius:80px;
    border:2px solid rgba(0, 0, 0, 1);
    width: 100px;
    display: flex;
    justify-content: center;
  }
  
  article h2 {
    margin-top: 0;
    color: #000;
  }
  
  article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
  }
  
  .date {
    color: #777;
    font-style: italic;
    margin-bottom: 10px;
  }
  
  a {
    color: #000; 
    text-decoration: none;

  }
  
  footer {
    background-color: #000; 
    color: #FFD700; 
    text-align: center;
    padding: 10px;
  }
  
  footer a {
    color: #FFD700;
    text-decoration: none;
    margin: 0 10px;
  }
@media(max-width:550px){
    article h2{
        font-size: 18px;
    }
}
  